<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Документ</title>
</head>
<body>
  <h1>Главная страница</h1>

  {{ if eq .Name "Bob" }}  <!-- либо не равно ne -->
    <span>Привет Боб!</span>
  {{ else }}
    <span>Ты кто ?</span>
  {{ end }}

  <p>Пользователь: {{ .Name }}</p>
  <p>Возраст: {{ .Age }}</p>
  <p>Баланс счета: {{ .Money }}</p>
  <p>Оценка пользователя: {{ .Avg_grades }}</p>
  <p>Уровнень счастья: {{ .Happiness }}</p>

  <ul>
    {{ range .Hobbies }}
      <li><b> {{ . }} </b></li>
    {{ end }}
  </ul>

</body>
</html>
